/*initialize custom fonts -- for performance should eventually combine css files*/

@font-face{
    font-family: "Bau Bold";
    src: url('../fonts/Bau-Bold.otf');
}

@font-face{
    font-family: "Bau Medium";
    src: url('../fonts/Bau-Medium.otf');
}

@font-face{
    font-family: "Bau Regular";
    src: url('../fonts/Bau-Regular.otf');
}

@font-face{
    font-family: "Tiempos Headline Black";
    src: url('../fonts/TiemposHeadline-Black.otf');
}

@font-face{
    font-family: "Tiempos Headline Bold";
    src: url('../fonts/TiemposHeadline-Bold.otf');
}

@font-face{
    font-family: "Tiempos Headline Medium";
    src: url('../fonts/TiemposHeadline-Medium.otf');
}

@font-face{
    font-family: "Tiempos Headline Semibold";
    src: url('../fonts/TiemposHeadline-Semibold.otf');
}

@font-face{
    font-family: "Tiempos Headline Regular";
    src: url('../fonts/TiemposHeadline-Regular.otf');
}

@font-face{
    font-family: "Tiempos Headline Light";
    src: url('../fonts/TiemposHeadline-Light.otf');
}

@font-face{
    font-family: "Tiempos";
    src: url('../fonts/Tiempos.otf');
}

@font-face{
    font-family: "Tiempos Text Bold";
    src: url('../fonts/TiemposText-Bold.otf');
}

@font-face{
    font-family: "Tiempos Text Regular";
    src: url('../fonts/TiemposText-Regular.otf');
}

@font-face{
    font-family: "Tiempos Text Italic";
    src: url('../fonts/TiemposText-Italic.otf');
}