body {
  margin: 0;
}


#headerWrapperHelp {
  height: 150px;
  width: 100vw;
  margin-bottom: 1%;
}

#helpWrapper {
  position: relative;
  width: 80vw;
  height: calc(100vh - 150px);
  margin: auto;
}

#guideBox {
  position: absolute;
  width: 570px;
  height: 150px;
  right: 5%;
  background: #e5a698;
  border: 1px solid #000000;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  font-family: "Tiempos Text Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 152.5%;
  color: #231f20;
  padding: 4px;
}

#guideHeader {
  margin-top: 2%;
  font-family: "Bau Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 152.5%;

  text-transform: uppercase;

  color: #231f20;
}

#mapBoxWrapper {
  position: relative;
  width: 70%;
  min-height: 75%;
  top: 22%;
  left: 15%;
}
#mapBox {
  /* background: #F8FFF6; */
  background: #f8fff6;
  border: 1px solid #000000;
  box-sizing: border-box;
  /* Subtle */

  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
}

#mapText {
  width: 40%;
  margin-top: 3%;
  margin-left: 15%;
  font-family: "Bau Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 152.5%;
  /* or 21px */

  text-transform: uppercase;

  color: #231f20;
}

#alignRight {
  font-family: "Tiempos Text Regular";
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 152.5%;
  /* or 21px */

  text-align: right;

  color: #231f20;
}

#resourcesDesc {
  font-family: "Bau Regular";
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 152.5%;
  text-align: left;

  color: #231f20;
  text-transform: none;
}

#map {
  width: 80%;
  height: 85%;
  margin: auto;
}

#map svg {
  width: 90%;
  height: 90%;
}

#smile {
  position: absolute;
  right: -5%;
  bottom: -8%;
}

#indoorsWrapper {
  position: absolute;
  left: 10%;
  top: 15%;
  z-index: 3;
}

#fine {
  position: absolute;
  right: -10%;
  bottom: 3%;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

#smile {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

#flexParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  margin-bottom: 4%;
}

#flexItem {
  margin-left: 5%;
  margin-top: 2%;
  font-size: 12px;
  background: #f8fff6;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  word-wrap: none;
  width: 45%;
}

#logoItem {
  height: 100%;
  width: 20%;
  display: inline-block;
}

#logo {
  width: 100%;
  height: 60%;
  margin-top: 20%;
  margin-left: 10%;
  padding: 5px;
}

#resources {
  display: block;
  height: 100%;
  width: 80%;
  float: right;
}

#resourceAssociation {
  font-family: "Tiempos Headline";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
}

ul,
li {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 1px;
  font-family: 'Tiempos Text';
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 152.5%;
}

#resourceLink:hover {
  color: #6186FF;
}

/* Popup container */
#popup {
  display: none;
  cursor: pointer;
  position: fixed;
  left: 8%;
  top: 5%;
  z-index: 100;
}

/* The actual popup (appears on top) */
#popup .popuptext {
  min-width: 30vw;
  max-height: 40vh;
  position: absolute;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  margin-left: 25vw;
  margin-top: 37.5vh;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


#overlay {
  position:fixed;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  display:none;
  background-color:#000;
  opacity:0.3;
  z-index: 10;
}

#error{
  color: #E27047;
}


@media only screen and (max-width: 500px) {
  #helpWrapper {
    position: relative;
    padding-left: 16px !important;
    padding-right: 16px !important;
    height: auto;
    width: 100% !important;
    margin: 0 !important;
  }
  #guideBox {
    height: 340px !important;
    max-width: 304px;
    padding-left: 22px !important;
    padding-right: 22px !important;
    padding-top: 39px !important;
    position: relative !important;
    right: unset !important;
    left: unset !important;
    text-align: left !important;
    z-index: 2;
  }

  #guideHeader {
    width: 240px !important;
  }
  #guideText {
    margin-top: 12px !important;
  }
  #indoorsWrapper {
    left: 240px !important;
    top: -25px !important;
    position: absolute;
    z-index: 3;
  }
  #mapBoxWrapper {
    position: relative;
    width: auto !important;
    height: auto !important;
    top: unset !important;
    left: unset !important;
    min-height: auto !important;
  }
  #mapBox {
    position: absolute !important;
    display: inline-block;
    left: unset !important;
    right: 0 !important;
    width: 333px !important;
    z-index: 1;
    top: -50px !important;
    padding-bottom: 42px !important;
  }
  #mapText {
    margin-top: 77px !important;
    margin-left: 45px !important;
    width: 230px !important;
  }
  #alignRight {
    text-align: left !important;
    font-size: 14px !important;
    text-transform: lowercase !important;
  }
  #map svg {
    width: 272px !important;
    height: auto !important;
  }
  #fine {
    right: unset !important;
    position: absolute !important;
    bottom: -35px !important;
    width: 85px !important;
    transform: rotate(-45deg) !important;
  }

  #popup .popuptext {
    min-width: 50vw;
    max-height: 60vh;
    position: absolute;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    margin-left: 14vw;
    margin-top: 25vh;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
}

@media screen and (min-width: 501px) and (max-width: 900px) {

  #headerWrapperHelp {
    height: 150px;
    width: 100vw;
    margin-bottom: 3px;
  }

  #indoorsWrapper {
    left: -8% !important;
    top: -8% !important;
    position: absolute;
    z-index: 3;
  }

  #guideBox {
    height: 320px !important;
    width: 304px;
    padding-left: 22px !important;
    padding-right: 22px !important;
    padding-top: 39px !important;
    position: relative !important;
    right: unset !important;
    left: unset !important;
    text-align: left !important;
    z-index: 2;
  }

  #popup .popuptext {
    min-width: 60vw;
    max-height: 70vh;
    position: absolute;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    margin-left: 14vw;
    margin-top: 25vh;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

}

@media screen and (min-width: 1300px){
    ul,
  li {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 1px;
    font-family: 'Tiempos Text';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 152.5%;
}
}