#headerWrapperHelp{
    height: 150px;
    width: 100vw;
}

#helpWrapper{
    position: relative;
    width: 80vw;
    height: calc(100vh - 150px);
    margin: auto;
}

#guideBox{
    position: absolute;
    width: 570px;
    height: 150px;
    right: 5%;
    background: #E5A698;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    font-family: 'Tiempos Text Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 152.5%;
    color: #231F20;
    padding: 2px;
}

#guideHeader{
    margin-top: 2%;
    font-family: 'Bau Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 152.5%;

    text-transform: uppercase;

    color: #231F20;
}

#mapBox{
    position: absolute;
    width: 70%;
    height: 75%;
    top: 140px;
    left: 15%;
    background: #F8FFF6;
    border: 1px solid #000000;
    box-sizing: border-box;
    /* Subtle */

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}

#mapText{
    width: 40%;
    margin-top: 3%;
    margin-left: 15%;
    font-family: 'Bau Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 152.5%;
    /* or 21px */

    text-transform: uppercase;

    color: #231F20;
}

#alignRight{
    font-family: 'Tiempos Text Regular';
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 152.5%;
    /* or 21px */

    text-align: right;

    color: #231F20;
}

#map{
    width: 80%;
    height: 85%;
    margin-left: 3.5%;
    margin-bottom: 5%;
}

#map svg{
    width: 90%;
    height: 90%;
}

#smile{
    position: absolute;
    right: -5%;
    bottom: -8%;
}

#indoors{
    position: absolute;
    left: -6%;
    top: -6%;
}

#fine{
    position: absolute;
    right: -10%;
    bottom: 3%;
}

@-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to { 
      -webkit-transform: rotate(360deg);
    }
}
  
#smile {
    -webkit-animation-name:            rotate; 
    -webkit-animation-duration:        10s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}


