
#headerWrapper{
    height: 200px;
    width: 100vw;
}

#titleBox{
    position: relative;
    width: 367px;
    height: 100px;
    left: 10vw;
    top: 5vh;

    text-align: center;
    background: #CFF4C9;
    border: 1px solid #000000;
    box-sizing: border-box;
    /* Subtle */

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}

#titleHeader{
    font-family: 'Bau Bold';
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    color: #231F20;
}

#titleDesc{
    font-family: 'Tiempos Text Italic';
    font-weight: normal;
    font-size: 14px;
    left: 10px;
}

#headerOptions{
    margin-left: 45%;
    display: flex;
    flex-direction: row;
}

.headerBox{
    padding: 2px 8px;
    margin-left: 4px;
    margin-right: 4px;
    background: #F8FFF6;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1px;

    font-family: 'Bau Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
}

#helpBox{
    background: #E27047;

}
body{
    background-color: #E0F9FF;
}

a:link, a:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #231F20;
}

#introBox{
    width: 60vw;
    height: 70vh;
    margin: auto;

    background: #F8FFF6;
    border: 1px solid #000000;
    box-sizing: border-box;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    font-family: 'Bau Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #189FFA;
}

#introText{
    margin-left: 3%;
    margin-right: auto;
    margin-top:5%;
}

#endingRight{
    text-align: right;
    font-size: 36px;
    color: #231F20;
}

#turqColor{
    color: #B2C0F3;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #B2C0F3;
}

#orangeColor{
    color: #E27047;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #E27047;
}

#greenColor{
    color: #CFF4C9;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #CFF4C9;
}